@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  "poppings", sans-serif;
}

.services_header {
  background: linear-gradient(
  135deg,
  oklch(80% 0.15 140) 0%,
  oklch(86% 0.13 140) 100%
);

  -webkit-text-stroke: 1px oklch(62.7% 0.194 149.214);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.border1{
   border-radius: 0 100vw 100vw 0;
   border-left: none;
}

.glowing-border:last-child{
  
  border-radius:  100vw 0 0 100vw;
  margin-left: auto;
  border-right: 0;
 
}
.glowing-border{
  --gradient-glow: yellow,green,blue,purple,red;
  --surface: white;
  position: relative;
  padding: 8rem 3rem;
  border: 5px solid transparent;
  width: 91%;
  margin-block: 3rem;
 
  background: 
    linear-gradient(var(--surface) 0 0) padding-box,
    conic-gradient( from -90deg,var(--gradient-glow, canvas) ) border-box;
  isolation: isolate;

}

.glowing-border:first::before{
   scale: 1.2 1;
}

.glowing-border::before {
  content: "";
  position: absolute;
  inset: 0.2rem;
  z-index:-1;
  border-radius: inherit;
  
  background:  var(--surface, canvas);
  transform-origin: right;
  filter: blur(10px);
}
.glowing-border::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  border-radius: inherit;
  background: conic-gradient(from -90deg, var(--gradient-glow, canvas));
  opacity: 0.2;
  
  filter: blur(5px);
  z-index: -2;
  
}



.hero{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1027%26quot%3b)' fill='none'%3e%3cpath d='M200.12 203.17L265.07 240.67L265.07 315.67L200.12 353.17L135.16 315.67L135.16 240.67zM459.93 -21.83L524.89 15.67L524.89 90.67L459.93 128.17L394.98 90.67L394.98 15.67zM459.93 428.17L524.89 465.67L524.89 540.67L459.93 578.17L394.98 540.67L394.98 465.67zM524.89 540.67L589.84 578.17L589.84 653.17L524.89 690.67L459.93 653.17L459.93 578.17zM589.84 203.17L654.79 240.67L654.79 315.67L589.84 353.17L524.89 315.67L524.89 240.67zM914.61 90.67L979.56 128.17L979.56 203.17L914.61 240.67L849.65 203.17L849.65 128.17zM914.61 315.67L979.56 353.17L979.56 428.17L914.61 465.67L849.65 428.17L849.65 353.17zM914.61 540.67L979.56 578.17L979.56 653.17L914.61 690.67L849.65 653.17L849.65 578.17zM979.56 203.17L1044.52 240.67L1044.52 315.67L979.56 353.17L914.61 315.67L914.61 240.67zM1044.52 315.67L1109.47 353.17L1109.47 428.17L1044.52 465.67L979.56 428.17L979.56 353.17zM1304.33 540.67L1369.28 578.17L1369.28 653.17L1304.33 690.67L1239.38 653.17L1239.38 578.17zM1434.24 540.67L1499.19 578.17L1499.19 653.17L1434.24 690.67L1369.29 653.17L1369.29 578.17z' stroke='rgba(217%2c 209%2c 223%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M192.62 203.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.57 240.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.57 315.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.62 353.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.66 315.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.66 240.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.43 -21.83 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.39 15.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.39 90.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.43 128.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.48 90.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.48 15.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.43 428.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.39 465.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.39 540.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.43 578.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.48 540.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.48 465.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.34 578.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.34 653.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.39 690.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.43 653.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.34 203.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.29 240.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.29 315.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.34 353.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.39 315.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.39 240.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.11 90.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.06 128.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.06 203.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.11 240.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.15 203.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.15 128.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.11 315.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.06 353.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.06 428.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.11 465.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.15 428.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.15 353.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.11 540.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.06 578.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM972.06 653.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM907.11 690.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.15 653.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM842.15 578.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1037.02 240.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1037.02 315.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1101.97 353.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1101.97 428.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1037.02 465.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1296.83 540.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1361.78 578.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1361.78 653.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1296.83 690.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1231.88 653.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1231.88 578.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1426.74 540.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1491.69 578.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1491.69 653.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1426.74 690.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1361.79 653.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1361.79 578.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(217%2c 209%2c 223%2c 1)'%3e%3c/path%3e%3cpath d='M38.71 -22.88L82.01 2.12L82.01 52.12L38.71 77.12L-4.59 52.12L-4.59 2.12zM82.01 52.12L125.31 77.12L125.31 127.12L82.01 152.12L38.71 127.12L38.71 77.12zM38.71 277.12L82.01 302.12L82.01 352.12L38.71 377.12L-4.59 352.12L-4.59 302.12zM125.31 -22.88L168.62 2.12L168.62 52.12L125.31 77.12L82.01 52.12L82.01 2.12zM125.31 127.12L168.62 152.12L168.62 202.12L125.31 227.12L82.01 202.12L82.01 152.12zM125.31 277.12L168.62 302.12L168.62 352.12L125.31 377.12L82.01 352.12L82.01 302.12zM168.62 352.12L211.92 377.12L211.92 427.12L168.62 452.12L125.31 427.12L125.31 377.12zM255.22 202.12L298.52 227.12L298.52 277.12L255.22 302.12L211.92 277.12L211.92 227.12zM211.92 427.12L255.22 452.12L255.22 502.12L211.92 527.12L168.62 502.12L168.62 452.12zM255.22 502.12L298.52 527.12L298.52 577.12L255.22 602.12L211.92 577.12L211.92 527.12zM298.52 127.12L341.83 152.12L341.83 202.12L298.52 227.12L255.22 202.12L255.22 152.12zM341.83 202.12L385.13 227.12L385.13 277.12L341.83 302.12L298.52 277.12L298.52 227.12zM298.52 277.12L341.83 302.12L341.83 352.12L298.52 377.12L255.22 352.12L255.22 302.12zM385.13 127.12L428.43 152.12L428.43 202.12L385.13 227.12L341.83 202.12L341.83 152.12zM428.43 202.12L471.74 227.12L471.74 277.12L428.43 302.12L385.13 277.12L385.13 227.12zM385.13 277.12L428.43 302.12L428.43 352.12L385.13 377.12L341.83 352.12L341.83 302.12zM428.43 352.12L471.74 377.12L471.74 427.12L428.43 452.12L385.13 427.12L385.13 377.12zM471.74 -22.88L515.04 2.12L515.04 52.12L471.74 77.12L428.43 52.12L428.43 2.12zM515.04 52.12L558.34 77.12L558.34 127.12L515.04 152.12L471.74 127.12L471.74 77.12zM471.74 127.12L515.04 152.12L515.04 202.12L471.74 227.12L428.43 202.12L428.43 152.12zM515.04 202.12L558.34 227.12L558.34 277.12L515.04 302.12L471.74 277.12L471.74 227.12zM515.04 502.12L558.34 527.12L558.34 577.12L515.04 602.12L471.74 577.12L471.74 527.12zM601.64 52.12L644.95 77.12L644.95 127.12L601.64 152.12L558.34 127.12L558.34 77.12zM558.34 127.12L601.64 152.12L601.64 202.12L558.34 227.12L515.04 202.12L515.04 152.12zM558.34 427.12L601.64 452.12L601.64 502.12L558.34 527.12L515.04 502.12L515.04 452.12zM601.64 502.12L644.95 527.12L644.95 577.12L601.64 602.12L558.34 577.12L558.34 527.12zM644.95 -22.88L688.25 2.12L688.25 52.12L644.95 77.12L601.64 52.12L601.64 2.12zM688.25 52.12L731.55 77.12L731.55 127.12L688.25 152.12L644.95 127.12L644.95 77.12zM644.95 127.12L688.25 152.12L688.25 202.12L644.95 227.12L601.64 202.12L601.64 152.12zM688.25 202.12L731.55 227.12L731.55 277.12L688.25 302.12L644.95 277.12L644.95 227.12zM644.95 277.12L688.25 302.12L688.25 352.12L644.95 377.12L601.64 352.12L601.64 302.12zM688.25 502.12L731.55 527.12L731.55 577.12L688.25 602.12L644.95 577.12L644.95 527.12zM774.85 52.12L818.16 77.12L818.16 127.12L774.85 152.12L731.55 127.12L731.55 77.12zM731.55 127.12L774.85 152.12L774.85 202.12L731.55 227.12L688.25 202.12L688.25 152.12zM774.85 502.12L818.16 527.12L818.16 577.12L774.85 602.12L731.55 577.12L731.55 527.12zM818.16 -22.88L861.46 2.12L861.46 52.12L818.16 77.12L774.85 52.12L774.85 2.12zM861.46 202.12L904.76 227.12L904.76 277.12L861.46 302.12L818.16 277.12L818.16 227.12zM861.46 352.12L904.76 377.12L904.76 427.12L861.46 452.12L818.16 427.12L818.16 377.12zM904.76 427.12L948.06 452.12L948.06 502.12L904.76 527.12L861.46 502.12L861.46 452.12zM991.37 -22.88L1034.67 2.12L1034.67 52.12L991.37 77.12L948.06 52.12L948.06 2.12zM1034.67 202.12L1077.97 227.12L1077.97 277.12L1034.67 302.12L991.37 277.12L991.37 227.12zM991.37 427.12L1034.67 452.12L1034.67 502.12L991.37 527.12L948.06 502.12L948.06 452.12zM1034.67 502.12L1077.97 527.12L1077.97 577.12L1034.67 602.12L991.37 577.12L991.37 527.12zM1077.97 127.12L1121.27 152.12L1121.27 202.12L1077.97 227.12L1034.67 202.12L1034.67 152.12zM1121.27 202.12L1164.58 227.12L1164.58 277.12L1121.27 302.12L1077.97 277.12L1077.97 227.12zM1077.97 277.12L1121.27 302.12L1121.27 352.12L1077.97 377.12L1034.67 352.12L1034.67 302.12zM1077.97 427.12L1121.27 452.12L1121.27 502.12L1077.97 527.12L1034.67 502.12L1034.67 452.12zM1164.58 -22.88L1207.88 2.12L1207.88 52.12L1164.58 77.12L1121.27 52.12L1121.27 2.12zM1207.88 502.12L1251.18 527.12L1251.18 577.12L1207.88 602.12L1164.58 577.12L1164.58 527.12zM1251.18 -22.88L1294.48 2.12L1294.48 52.12L1251.18 77.12L1207.88 52.12L1207.88 2.12zM1294.48 52.12L1337.79 77.12L1337.79 127.12L1294.48 152.12L1251.18 127.12L1251.18 77.12zM1294.48 202.12L1337.79 227.12L1337.79 277.12L1294.48 302.12L1251.18 277.12L1251.18 227.12zM1251.18 277.12L1294.48 302.12L1294.48 352.12L1251.18 377.12L1207.88 352.12L1207.88 302.12zM1251.18 427.12L1294.48 452.12L1294.48 502.12L1251.18 527.12L1207.88 502.12L1207.88 452.12zM1337.79 -22.88L1381.09 2.12L1381.09 52.12L1337.79 77.12L1294.48 52.12L1294.48 2.12zM1381.09 52.12L1424.39 77.12L1424.39 127.12L1381.09 152.12L1337.79 127.12L1337.79 77.12zM1381.09 352.12L1424.39 377.12L1424.39 427.12L1381.09 452.12L1337.79 427.12L1337.79 377.12zM1381.09 502.12L1424.39 527.12L1424.39 577.12L1381.09 602.12L1337.79 577.12L1337.79 527.12zM1424.39 127.12L1467.69 152.12L1467.69 202.12L1424.39 227.12L1381.09 202.12L1381.09 152.12zM1467.69 202.12L1511 227.12L1511 277.12L1467.69 302.12L1424.39 277.12L1424.39 227.12zM1467.69 352.12L1511 377.12L1511 427.12L1467.69 452.12L1424.39 427.12L1424.39 377.12zM1424.39 427.12L1467.69 452.12L1467.69 502.12L1424.39 527.12L1381.09 502.12L1381.09 452.12zM1467.69 502.12L1511 527.12L1511 577.12L1467.69 602.12L1424.39 577.12L1424.39 527.12z' stroke='rgba(185%2c 222%2c 201%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1027'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height:100%;
}
